/*****************************************************************************/
/* Sleep: Style */
/*****************************************************************************/
.sleep {
  margin: 0 auto;
}

.sleep-page {
  margin: 50px;
  text-align: center;
}

.logo {
  width: 80%;
  height: auto;
}
