<template name="Sleep">
  <div class="sleep-page">
    <div class="ui stackable grid">
      <div class="twelve wide column">
        <div class="ui raised segment">
          <svg class="sleep">
          </svg>
        </div>
      </div>
      <div class="four wide column">
        <div class="row ui raised segment">
          <div class="one wide column">
            <img src="envisage.png" alt="" class="logo" />
          </div>
        </div>
        <div class="row ui raised segment">
          {{> Efficiency efficiency=sum}}
        </div>
        <div class="row">
          <div class="one wide column">
            {{> Sum sum=sum.deep color=colors.[1] description="deep" total=total}}
          </div>
          <div class="one wide column">
            {{> Sum sum=sum.medium color=colors.[2] description="medium" total=total}}
          </div>
          <div class="one wide column">
            {{> Sum sum=sum.light color=colors.[3] description="light" total=total}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
