/*****************************************************************************/
/* Flight: Style */
/*****************************************************************************/
.flight {
  height: 100vh;
  text-align: center;
  background-color: #D9E8F5;
}

.content {
}
